@import './Variables.scss';



.mainPage {
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
        color: $redColor;
    }

    button {
        @include buttonStyle($redColor, 28px);
    }
}

button {
    @include buttonStyle($purpleColor, 30px);
}